*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 375;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    line-height: 1.15;
}

.logo
{
    height: 140px;
    width: auto;
    padding: 20px;

}

.navigation
{
    display: flex;
    float: right;
    list-style: none;
    justify-content: space-between;
    margin-top: 58px;
    font-size: 90%;
    align-items: center;
}

.nav-link
{
    margin: 0 24px;
    
}
.nav-link a
{
    text-decoration: none;
    color: white;
}

.nav-link a:hover
{
    border-bottom: 2px solid #e67e22;
    padding-bottom: 8px;
}

.header
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('OmnifoodContents/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.row {
    max-width: 77%;
    margin: 0 auto;
}

.hero-text-box {
    padding-top: 200px;
    max-width: 77%;
    margin: 0 auto;
}

.hero-text-box h1{
    color: white;
    font-size: 240%;
    font-weight: 300;
    word-spacing: 4;
    margin-bottom: .67em;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    margin-right: 20px;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
}

.btn:hover, .btn:active{
    background-color: #cf6d17;
}

.btn-full{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}

.btn-full:hover, .btn-full:active{
    border: 1px solid #cf6d17;
}

.btn-ghost{
    border: 1px solid;
    color: #e67e22;
    transition: color 0.2s;
}

.btn-ghost:hover, .btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

h2{
    margin-top: 150px;
    font-size: 28pt;
    font-weight: 375;
    text-transform: uppercase;
    text-align: center;
}

h2::after{
    display: block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    content: " ";
    margin: 30px auto;
}

h3{
    font-size: 20pt;
    font-weight: 395;
    margin-bottom: 20px;
}

.features p{
    margin: 0 auto;
    width: fit-content;
    padding-bottom: 30px;
    line-height: 1.5;
}

.box p
{
    font-size: 18px;
}

.flex-container{
    display: flex;
    justify-content: center;
}

.box{
    margin: 20px;
    width: 250px;
}

.meal-container{
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: black;
}

.meal-box{
    width: 25%;
    aspect-ratio: 4/3;
    overflow: hidden;
}

.meal-img{
    width: 100%;
    opacity: .7;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.meal-img:hover{
    opacity: 1;
    transform: scale(1.00);
}

.how{
    padding: 30px;
    background-color: #f4f4f4;
}

.how-container{
    margin: 50px auto;
    max-width: 1140px;
    display: flex;
}

.how-img{
    width: 50%;
    margin-top: 30px;
    text-align: right;
}

.how-img img{
    padding-right: 3%;
    width: 40%;
}

.how-text{
    margin-top: 70px;
    padding-left: 3%;
    width: 50%;
    display: block;
}

.how-row{
    display: flex;
    margin-bottom: 50px;
}

.how-number{
    margin-right: 25px;
    border: 2px solid #e67e22;
    border-radius: 50%;
    text-align: center;
    float: left;
}

.how-number p{
    width: 55px;
    height: 55px;
    padding: 7px;
    font-size: 150%;
    color: #e67e22;
}

.btn-app-row{

}

.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.features-icon{

}

.icon-sellingPoints
{
    font-size: 350%;
    display: block;
    color: #e67e22;
    --ionicon-stroke-width: 20px;
}

.icon-locations
{
    float: left;
    margin-right: 10px;
    color: #e67e22;
    line-height: 1.5;
}

.loco-p
{
    padding: 4px;
    font-size: 20px !important;
}

.city-img
{
    width: 100%;
}

.testimonial{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url('OmnifoodContents/back-customers.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    padding: 80px 0;
}

.testimonial-container{
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    justify-content: space-evenly;
}

.testimonial h2{
    margin: 0 auto;
}

.testimonial-box{
    width: 30%;
}

.testimonial blockquote:before{
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

.testimonial blockquote{
    padding: 2%;
    margin: 10 0 10 20;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

.testimonial img{
    border-radius: 50%;
    height: 45px;
    vertical-align: middle;
    display: inline;
}

.testimonial p{
    display: inline;
}

.testimonial cite{
    margin-top: 40px;
    display: block;
}

.price
{
    font-size: 40pt !important;
    font-weight: 100;
    color: #e67e22;
    margin-bottom: 5px;
}

.price-p{
    font-size: 20px !important;
    padding: 4px;
    line-height: 1.5;

}

.price span{
    font-size: 30%;
    font-weight: 300;
}

.blank-p::before{
    content: " ";
    white-space: pre;
}

.citySec
{
    /* margin: 0 0 60px !important; */
    padding: 100px;
    background-color: #f5f5f5;
    width: 100%;
    /* margin-bottom: 80px; */
}

.citySec h2
{
    margin-top: 5px;
    margin-bottom: 20px;
}

ul
{
    list-style-type: none;
    white-space: nowrap;
}
li
{
    display: list-item;
}
li::before
{
    content: " ";
    white-space: pre;
}

.icon-list
{
    float: left;
    margin-right: 10px;
    color: #e67e22;
    line-height: 1.5;
}

.subBox
{
    background-color: #fcfcfc;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
}

.content-separator::before
{
    content: "";
    display: block;
    height: 1px;
    background-color: #e8e8e8;
    margin: 10px 0;
    width: 100%;
    
}

.subBtn
{
    margin-left: 65px;
    margin-top: 15px;
}

.contact{
    max-width: 1140px;
    margin: 0 auto;
}

.contact-row{
    margin: 1% 0;
    height: fit-content;
    display: flex;
}


.label-row{
    width: 34%;
    font-size: 100%;
}

.input-row{
    width: 66%;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 100%;
}

textarea{
    height: 100px;
}

input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

*:focus{
    outline: none;
}

footer{
    background-color: #555;
    color: #888;
}

.links-row{
    display: flex;
}

.left-links a, a:visited, a:active{
    text-decoration: none;
    color: #888;
}

.icon-socials{
    color: #888;
}