*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 375;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    line-height: 1.15;
}

.logo
{
    height: 140px;
    width: auto;
    padding: 20px;

}

.navigation
{
    display: flex;
    float: right;
    list-style: none;
    justify-content: space-between;
    margin-top: 58px;
    font-size: 90%;
    align-items: center;
}

.nav-link
{
    margin: 0 24px;
    
}
.nav-link a
{
    text-decoration: none;
    color: white;
}

.nav-link a:hover
{
    border-bottom: 2px solid #e67e22;
    padding-bottom: 8px;
}

.header
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('OmnifoodContents/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.row {
    max-width: 77%;
    margin: 0 auto;
}

.hero-text-box {
    padding-top: 200px;
    max-width: 77%;
    margin: 0 auto;
}

.hero-text-box h1{
    color: white;
    font-size: 240%;
    font-weight: 300;
    word-spacing: 4;
    margin-bottom: .67em;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    margin-right: 20px;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
}

.btn:hover, .btn:active{
    background-color: #cf6d17;
}

.btn-full{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}

.btn-full:hover, .btn-full:active{
    border: 1px solid #cf6d17;
}

.btn-ghost{
    border: 1px solid;
    color: #e67e22;
    transition: color 0.2s;
}

.btn-ghost:hover, .btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}

.features h2{
    margin-top: 150px;
    font-size: 28pt;
    font-weight: 375;
    text-transform: uppercase;
    text-align: center;
}

.features h2::after{
    display: block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    content: " ";
    margin: 30px auto;
}

.features h3{
    font-size: 20pt;
    font-weight: 395;
    margin-bottom: 20px;
}

.features p{
    margin: 0 auto;
    width: fit-content;
}

.features-container{
    display: flex;
    justify-content: center;
}

.features-box{
    margin: 20px;
    width: 250px;
}

.features-icon{

}



